<% wrap_layout :layout do %>
    <%= partial :pager, :locals => {:title => "Персоналии", :link => '../personas.html'} %>

    <div class="row">

      <div class="large-12 bg_gray">
        <div class="app_person app_text">
        <% img_path = "../img/personas/#{current_page_title.parameterize}.png" %>
        <%= image_tag img_path, :class => 'app_photo text-center' %>
        <h3 class="app_thin text-center"><%= current_page_title %><span class="character">философ</span></h3>
        <p class="app_gray">
          <%= yield %>
        </p>
      </div>
    </div>

    <%= partial :linked_articles %>
    <%= partial :linked_texts, :locals => {:title => "Что почитать:"} %>

    </div>

<% end %>
