<% wrap_layout :layout do %>
    <%= partial :pager, :locals => {:title => "Персоналии", :link => '../personas.html'} %>

    <div class="row">

      <div class="large-12 bg_gray">
        <div class="app_person app_text">
        <% img_path = "../img/personas/#{current_page_title.parameterize}.png" %>
        <%= image_tag img_path, :class => 'app_photo text-center' %>
        <h3 class="app_thin text-center"><%= current_page_title %><span class="character">философ</span></h3>
        <p class="app_gray">
          <%= yield %>
        </p>
      </div>
    </div>

      <% if current_page.data.linked_articles && !current_page.data.linked_articles.empty? %>
      <div class="large-12 bg_gray">
        <div class="keywords clearfix">
          <h4 class="app_title app_thin app_h4">Связанные понятия:</h4>
          <ul class="app_keywords">
            <% current_page.data.linked_articles.each do |la|  %>
                <li><%=la[:link]%></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>

      <% if current_page.data.linked_texts && !current_page.data.linked_texts.empty? %>
      <div class="large-12 bg_gray">
        <div class="app_next">
          <h4 class="app_title app_thin app_h4">Читать по теме:</h4>
          <ul class="ul_sub_cont app_dashed_top">
            <li class="app_chapter"><a href="texts/labirint/praktika-ekzistentsialnogo-vybora.html">Практика экзистенциального выбора</a></li>
            <li class="app_chapter"><a href="texts/labirint/tri-otstroyki-1-otstroyka-ot-sotsiuma.html">Три отстройки (1): отстройка от социума</a></li>
            <li class="app_chapter"><a href="texts/labirint/drugaya-tochka-opory.html">Другая точка опоры</a></li>
          </ul>
        </div>
      </div>
      <% end %>

  </div>

<% end %>
