<% wrap_layout :layout do %>
<% c = current_chapter %>
<%= partial :pager, :locals => {:title => "Глава #{c[:number]}. #{c[:title]}", :link => '/home.html'} %>

<div class="row">
  <div class="large-12 bg_gray">
    <div class="app_text">
      <h3 class="app_title app_thin text-center"><%= current_page_title %></h3>
      <%= yield %>
    </div>
  </div>

  <%= partial 'linked_articles' %>

  <% if current_page.data.read_later %>
  <div class="large-12 bg_gray">
    <div class="app_next">
      <h4 class="app_title app_thin app_h4">Читать дальше:</h4>
      <ul class="ul_sub_cont app_dashed_top">
        <% current_page.data.read_later.each do |text| %>
        <li class="app_chapter"><%= link_to text[:title], text[:link] %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>


</div>
<%= partial :pager, :locals => {:title => "Глава #{c[:number]}. #{c[:title]}", :link => '/home.html'} %>
<% end %>