<% wrap_layout :layout do %>
<% c = current_chapter %>
<%= partial :pager, :locals => {:title => "Глава #{c[:number]}. #{c[:title]}", :link => '/home.html'} %>

<div class="row">
  <div class="large-12 bg_gray">
    <div class="app_text">
      <h3 class="app_title app_thin text-center"><%= current_page_title %></h3>
      <p class="app_epigraph">Принимаясь за&nbsp;дело, соберись с&nbsp;духом.</p>
      <p class="app_epigraph">Козьма Прутков</p>
      <%= yield %>
    </div>
  </div>

  <div class="large-12 bg_gray">
    <div class="keywords clearfix">
      <h4 class="app_title app_thin app_h4">Ключевые слова</h4>
      <ul class="app_keywords">
        <li><a href="#">бейсик</a></li>
        <li><a href="#">психотерапия</a></li>
        <li><a href="#">семейная история</a></li>
        <li><a href="#">разотождествление</a></li>
      </ul>
    </div>
  </div>

  <% if current_page.data.read_later %>
  <div class="large-12 bg_gray">
    <div class="app_next">
      <h4 class="app_title app_thin app_h4">Читать дальше:</h4>
      <ul class="ul_sub_cont app_dashed_top">
        <% current_page.data.read_later.each do |text| %>
        <li class="app_chapter"><a href="<%= text[:link] %>"><%= text[:title] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>


</div>
<%= partial :pager, :locals => {:title => "Глава #{c[:number]}. #{c[:title]}", :link => '/home.html'} %>
<% end %>