<!DOCTYPE html>
<html class="no-js" lang="ru" manifest="../offline.appcache">
<head>
  <%= partial 'head' %>
</head>
<body>
    <%= partial 'topbar' %>
    <div id="results" class="row"></div>
    <div class="row">

      <div class="large-12 columns">
        <hr>
        <div class="panel app_thes">
          <h2 class="app_normal"><%= current_page_title %></h2>
          <p class="app_black">
            <%= yield %>
          </p>

          <% if current_page.data.linked_articles && !current_page.data.linked_articles.empty? %>
          <p><span class="app_bold">Связанные понятия:</span>
            <%= current_page.data.linked_articles.map { |la| la[:link] }.join(', ') %>
          </p>
          <% end %>
        </div>
      </div>

    </div>
    <% if current_page.data.linked_texts && !current_page.data.linked_texts.empty? %>
    <div class="row">

      <div class="large-12 columns">
        <h4 class="app_normal app_lgray">Читать по теме:</h4>
        <hr />
      </div>

    </div>
    <div class="row">
      <div class="large-12 columns app_smaller">
        <%current_page.data.linked_texts.each do |txt| %>
        <h4 class="app_normal"><%= txt[:link] %></h4>
        <p class="app_dgray"><%= txt[:first_paragraph] %></p>
        <%end%>
      </div>
    </div>
    <% end %>

    <%= partial 'bottom_scripts' %>
    <%= partial 'analytics' %>

</body>
</html>
