<% wrap_layout :layout do %>

    <%= partial :pager, :locals => {:title => "Глоссарий", :link => '../thesaurus.html'} %>

    <div class="row">
      <div class="large-12 bg_gray">
        <div class="app_text">
          <h2 class="app_title app_thin text-center"><%= current_page_title %></h2>
          <p class="app_black">
            <%= yield %>
          </p>
        </div>
      </div>

    <%= partial 'linked_articles' %>

    <%= partial 'linked_texts' %>

    </div>

<% end %>