<div class="contain-to-grid">
  <nav class="top-bar" data-options="is_hover:false">
    <section class="top-bar-section">
      <ul class="row small-block-grid-5">
        <li class="contents<%= active_class([/texts/,/home/])%>">
          <% link_to '/home.html' do %>
            <i class="foundicon"></i>
          <% end %>
        </li>
        <li class="glossary<%= active_class([/glos/, /thesaur/])%>">
          <% link_to '/thesaurus.html' do %>
            <i class="foundicon"></i>
          <% end %>
        </li>
        <li class="persons<%= active_class([/personalii/,/personas/])%>">
          <% link_to '/personas.html' do %>
            <i class="foundicon"></i>
          <% end %>
        </li>
        <li class="search<%= active_class([/search/])%>">
          <% link_to '/search.html' do %>
            <i class="foundicon"></i>
          <% end %>
        </li>
        <li class="settings<%= active_class([/about/])%>">
          <% link_to '/about.html' do %>
            <i class="foundicon"></i>
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
</div>