---
title: Оглавление
---

<div class="row">
  <div class="large-12">
    <h3 class="app_thin app_gray text-center">Оглавление</h3>
      <div class="section-container accordion" data-section="accordion" data-options="deep_linking: true">
      <div class="app_sup_chapter li_intro"><a href="intro.html">Введение</a></div>

      <% data.home.chapters.each do |chapter|  %>
          <section class="chapter_<%= chapter[:number] %>">
            <p class="title" data-section-title>
            <% link_to "##{chapter[:title_for_save]}" do %>
                <span class="arrow"></span><%= "Глава #{chapter[:number]}. #{chapter[:title]}" %>
            <% end %>
            </p>
            <div class="content" data-section-content data-slug="<%= chapter[:title_for_save] %>">
              <div class="li_activ_cont clearfix">
                <p><%= chapter[:intro] %> </p>
                <span class="corner"></span>
              </div>
              <ul class="ul_sub_cont li_none">
                <% chapter.files.each do |f| %>
                    <li class="app_chapter">
                      <%= link_to f[:title],  "/texts/#{f[:title_for_save]}" %>
                    </li>
                <% end %>
              </ul>
            </div>
          </section>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:js) do %>
    $(document).foundation('section', {
        callback: function (){
            if ($('section.active').length > 0) {
                var containerPos = $('section.active').offset().top;
                $('html, body').animate({ scrollTop: containerPos }, 200);
            }
        }
    });
<% end %>


