
<%= partial 'there_is_exit' %>

<div class="row">
  <%= partial 'sidebar_contents'%>

  <div class="large-8 columns">
    <% first_chapter = data.home.chapters.first %>
    <h3 class="app_thin app_lgray">Глава <%= first_chapter[:number] %>. <%= first_chapter[:title] %></h3>
    <% first_chapter.files.each do |file| %>
        <h4 class="app_chapter">
          <%= link_to file[:title], "texts/#{file[:title_for_save]}" %>
        </h4>
        <p><a class="app_black" href="texts/<%= file[:title_for_save] %>">LEAD TEXT GOES HERE.</a></p>
    <% end %>
  </div>
</div>
