<!DOCTYPE html>
<html class="no-js" lang="ru" <%=partial 'manifest' %>>
<head>
    <%= partial 'head' %>
</head>
    <body class="<%= current_page.data.body_class %>">
        <%= partial("topbar") unless current_page.data.dont_show_topbar %>

        <%= yield %>

        <%= partial "bottom_scripts" %>        
        <%= partial "analytics" %>
    </body>
</html>
