<!DOCTYPE html>
<html class="no-js" lang="ru" manifest="offline.appcache">
<head>
    <%= partial "head" %>
</head>
    <body>
        <%= partial "topbar" %>
        <div id="results" class="row"></div>
        <!-- Add your site or application content here -->
        <%= yield %>        

        <%= partial "bottom_scripts" %>        
        <%= partial "analytics" %>
    </body>
</html>
